@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf"); }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #9FECF0;
  color: white;
  overflow-x: hidden; }

header {
  height: 30vh;
  background-color: #53A680; }
  header #headline {
    text-align: center;
    text-transform: uppercase;
    color: #FF8A43;
    line-height: 30vh;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2); }

#page-container {
  position: relative;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8rem; }
  #page-container #timeline {
    position: absolute;
    background-color: #FF8A43;
    width: 0.5rem;
    height: 100%;
    left: 50%;
    transform: translate(-50%); }

.tile {
  background-color: #53A680;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate(-2000px);
  transition: 1s;
  z-index: 2; }
  .tile.start {
    transform: translate(0); }

.tile:nth-child(1) {
  position: relative;
  grid-column: 1;
  grid-row: 1; }
  .tile:nth-child(1)::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(1)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(-50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(1).start::after {
    animation: dotLeft 2s ease forwards; }

.tile:nth-child(2) {
  position: relative;
  grid-column: 2;
  grid-row: 2; }
  .tile:nth-child(2)::before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(2).start::after {
    animation: dotRight 2s ease forwards; }

.tile:nth-child(3) {
  position: relative;
  grid-column: 1;
  grid-row: 3; }
  .tile:nth-child(3)::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(3)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(-50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(3).start::after {
    animation: dotLeft 2s ease forwards; }

.tile:nth-child(4) {
  position: relative;
  grid-column: 2;
  grid-row: 4; }
  .tile:nth-child(4)::before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(4)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(4).start::after {
    animation: dotRight 2s ease forwards; }

.tile:nth-child(5) {
  position: relative;
  grid-column: 1;
  grid-row: 5; }
  .tile:nth-child(5)::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(5)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(-50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(5).start::after {
    animation: dotLeft 2s ease forwards; }

.tile:nth-child(6) {
  position: relative;
  grid-column: 2;
  grid-row: 6; }
  .tile:nth-child(6)::before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(6)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(6).start::after {
    animation: dotRight 2s ease forwards; }

.tile:nth-child(7) {
  position: relative;
  grid-column: 1;
  grid-row: 7; }
  .tile:nth-child(7)::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(7)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(-50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(7).start::after {
    animation: dotLeft 2s ease forwards; }

.tile:nth-child(8) {
  position: relative;
  grid-column: 2;
  grid-row: 8; }
  .tile:nth-child(8)::before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(8)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(8).start::after {
    animation: dotRight 2s ease forwards; }

.tile:nth-child(9) {
  position: relative;
  grid-column: 1;
  grid-row: 9; }
  .tile:nth-child(9)::before {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(9)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(-50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(9).start::after {
    animation: dotLeft 2s ease forwards; }

.tile:nth-child(10) {
  position: relative;
  grid-column: 2;
  grid-row: 10; }
  .tile:nth-child(10)::before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 10%;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 2rem solid #53A680;
    border-bottom: 1rem solid transparent; }
  .tile:nth-child(10)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: calc(100% + 4rem);
    bottom: 10%;
    background-color: #FF8A43;
    border-radius: 100%;
    transform: translate(50%);
    opacity: 0;
    transition-delay: 2s;
    transition: .1s; }
  .tile:nth-child(10).start::after {
    animation: dotRight 2s ease forwards; }

@keyframes dotLeft {
  0% {
    opacity: 0;
    transform: translate(-50%) scale(0); }
  49% {
    opacity: 0;
    transform: translate(-50%) scale(0); }
  50% {
    opacity: 1;
    transform: translate(-50%) scale(0); }
  100% {
    opacity: 1;
    transform: translate(-50%) scale(1); } }

@keyframes dotRight {
  0% {
    opacity: 0;
    transform: translate(50%) scale(0); }
  49% {
    opacity: 0;
    transform: translate(50%) scale(0); }
  50% {
    opacity: 1;
    transform: translate(50%) scale(0); }
  100% {
    opacity: 1;
    transform: translate(50%) scale(1); } }
